[submodule "ik8b"]
	path = tools/ik8b
	url = https://github.com/isakruas/ik8b
[submodule "ik8bvm"]
	path = tools/ik8bvm
	url = https://github.com/isakruas/ik8bvm
[submodule "ikmcp"]
	path = tools/ikmcp
	url = https://github.com/isakruas/ikmcp