[submodule "ik8b"]
	path = tools/ik8b
	url = https://github.com/isakruas/ik8b
[submodule "ik8bvm"]
	path = tools/ik8bvm
	url = https://github.com/isakruas/ik8bvm
[submodule "tools/ikmcp"]
	path = tools/ikmcp
	url = git@github.com:isakruas/ikmcp.git
	branch = rust
	ignore = dirty
